@using PirateX.GMSDK
@using PirateX.GMSDK.Mapping

@{
    ViewBag.Title = "New";
}

@{
    IGMUIItemMap map = ViewBag.ItemMap;
}

<div class="row">

    <div class="col-md-9">
        @using (Html.BeginForm("SaveNew", "Activity", new { name = Request.QueryString["name"] }, FormMethod.Post, new { @class = "form" }))
        {
           

            <div class="form-group">
                <label>备注名（必须唯一）</label>
                @Html.TextBox("Remark", null, new { @class = "form-control" })
            </div>
            {
                List<GMUIGroup> groups = ViewBag.Groups;
                var length = groups.Count();
                var rowcount = (length % 3 == 0) ? length / 3 : (length / 3) + 1;

                for (var i = 0; i < rowcount; i++)
                {
                    var list = groups.Skip(i * 3).Take(3);
                    <div class="row">
                        @foreach (var item in list)
                        {
                            @UIHelper.ConvertToCard(item, ViewBag.ColClass)
                        }
                    </div>
                }
            }

            <button type="submit" class="btn btn-block btn-primary">提交并保存</button>
        }
    </div>

    <div class="col-md-3">
        <div class="card border-0">
            <div class="card-header bg-light border border-top-0 border-right-0 border-left-0">
                <h4>@map.Name</h4>
            </div>

            <div class="card-body bg-light">
                <p>
                    @map.Des
                </p>
            </div>
        </div>
    </div>
</div>
