
@using PirateX.GMSDK.Mapping

@{
    ViewBag.Title = "活动列表";
}

<table class="table table-hover">
    <thead>
    <tr>
        <th>名称</th>
        <th>描述</th>
        <th>操作</th>
    </tr>
    </thead>

    @foreach (IGMUIItemMap item in ViewBag.List)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Des</td>
            <td>@Html.ActionLink("创建","New", new {name = item.Name}, new { css = "button" }) </td>
        </tr>
    }
    
</table>