@using PirateX.ApiHelper.App_Start
@{
    ViewBag.Title = "Home Page";
}

<div class="row">


    <div class="col-xs-4" id="sidebar">

        <div class="list-group">
            @foreach (ApiGroup item in ViewBag.Groups)
            {
                @Html.ActionLink(item.Name, "Index", new { moduleVersionId = item.ModelId }, new { @class = "list-group-item" })
            }
        </div>
    </div>

    <div class="col-xs-8">

        <h3>
            @((ApiGroup)ViewBag.ApiGroup).Assembly
        </h3>

        <table class="table">
            <thead>
                <tr>
                    <th>接口</th>
                    <th>描述</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Type type in ViewBag.ApiGroup.Types)
                {
                    <tr>
                        <td>@Html.ActionLink(type.Name, "Details", new { modelversionid = ViewBag.ApiGroup.ModelId, typeguid = type.GUID.ToString("N") })</td>
                        <td>
                            @{
                                var comments = CommentsDocContainer.Instance.GetTypeCommontsMember(CommentsDocContainer.Instance.GetCommentsDoc(type.Assembly), type);
                                if (comments != null)
                                {
                                    <span>@Html.Raw(comments.Summary)</span>
                                }

                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>