@using PirateX.ApiHelper.Models
@{
    ViewBag.Title = "Home Page";
}

<h3>
    @((ApiGroup)ViewBag.Group).Assembly
</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Response</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (Type type in ViewBag.Group.Types)
        {
            <tr>
                <td>@type.Name</td>
                <td>@type.BaseType.GetGenericArguments()[0].Name</td>
            </tr>
        }
    </tbody>
</table>