<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NLog" version="4.0.1" targetFramework="net452" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.0.481" targetFramework="net452" />
  <package id="SuperSocket" version="1.6.6.1" targetFramework="net452" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net452" />
</packages>