<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- 服务名 -->
    <add key="ServiceName" value="PirateX.Schedule.Host"/>
    <!-- Host自带了Proxy Worker请求连接这个-->
    <add key="BackendConnectionString" value="@tcp://localhost:5601"/>
    <!-- Host内置的ResponseSocket -->
    <add key="ResponseConnectionString" value="@tcp://localhost:5602"/>
    <!-- 配置信息 -->
    <add key="ConfigString" value="http://192.168.1.54/serverconfig.json"/>
  </appSettings>
</configuration>