@using System.Data;
@{
    /**/

    ViewBag.Title = "Go";
}

@using (Html.BeginForm("Go", "Datas", new { id = "Role" }, FormMethod.Get, new { @class = "form" }))
{
    @UIHelper.ConvertToSearch(ViewBag.Map.PropertyMaps);
}


@if (ViewBag.Datas != null)
{
    var data = (DataTable)ViewBag.Datas;

<div class="card">
    <div class="card-header bg-light">
        查询结果
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    @foreach (DataColumn colum in data.Columns)
                    {
                        <th>@colum.ColumnName</th>
                    }
                </tr>
            </thead>

            <tbody>

                @foreach (DataRow row in data.Rows)
                {
                    <tr>
                        @foreach (DataColumn colum in data.Columns)
                        {
                            <td>@row[colum.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    }
