<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.5.0" targetFramework="net452" />
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="Faker" version="1.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net452" />
  <package id="protobuf-net-data" version="2.0.7.668" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.OrmLite" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.OrmLite.Sqlite.Windows" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.4" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.105.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.105.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.0" targetFramework="net452" />
  <package id="TestDataGenerator" version="0.0.8" targetFramework="net452" />
</packages>